# Ignore node_modules folders everywhere
node_modules

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore build/dist folders (if any)
dist/
build/